<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009050868001-k0t1dqcup6qnpt1lfq7mnn62uk8d0q1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009050868001-k0t1dqcup6qnpt1lfq7mnn62uk8d0q1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAUsbWP0RHfbwB3ivsK6YQ3uasyZkmch0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1009050868001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemo</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-e172f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-e172f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009050868001:ios:4b0c8d1d942baed6d74660</string>
</dict>
</plist>